<div class="swiper mySwiper translate-y-[50%] !z-[100] !overflow-visible" id="mySwiper">
    <div class="swiper-wrapper">
    {{#get "tags" limit="all"}}
        {{#foreach tags}}
        <a href="{{url}}" class="swiper-slide rounded-2xl overflow-hidden hover:translate-y-[-6px] ease-in duration-300">
            <div class="gradient-overlay relative w-full h-full">
                <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
            </div>
            <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center select-none z-[1]">
                <div class="title relative text-white text-6xl tracking-wide font-semibold text-center drop-shadow-3xl">{{name}}</div>
                <div class="content p-8 text-white text-center absolute">{{description}}</div>
            </div>
        </a>
        {{/foreach}}
    {{/get}}
    </div>
</div>