<div class="share-buttons flex items-center justify-end gap-4">
  <div>{{> "icons/share"}}</div>
  <div class="flex gap-4 p-3 rounded-full bg-blue-200">
    <a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}&title={{title}}" target="_blank" class="p-3 rounded-full bg-blue-100 hover:scale-110 transition ease-out">
      <i class="w-7 block">{{> "icons/facebook"}}</i>
    </a>
    <a href="https://twitter.com/share?url={{url absolute="true"}}&text={{title}}" target="_blank" class="p-3 rounded-full bg-blue-100 hover:scale-110 transition ease-out">
      <i class="w-7 block">{{> "icons/twitter"}}</i>
    </a>
    <a href="https://pinterest.com/pin/create/button/?url=={{url absolute="true"}}&title={{title}}" target="_blank" class="p-3 rounded-full bg-blue-100 hover:scale-110 transition ease-out">
      <i class="w-7 block">{{> "icons/pinterest"}}</i>
    </a>
    <a href="https://www.linkedin.com/shareArticle?url={{url absolute="true"}}&title={{title}}" target="_blank" class="p-3 rounded-full bg-blue-100 hover:scale-110 transition ease-out">
      <i class="w-7 block">{{> "icons/linkedin"}}</i>
    </a>
    <button class="copy-link-btn w-fit p-3 rounded-full bg-blue-100 hover:scale-110 transition ease-out">{{> "icons/clipboard"}}</button>
  </div>
</div>

<script>
    const shareButtons = document.querySelectorAll('.share-buttons a');
    const copyLinkBtn = document.querySelector('.copy-link-btn');

    // Add event listener to the copy link button
    copyLinkBtn.addEventListener('click', () => {
    // Get the post URL
    const postUrl = window.location.href;
  
        // Create a temporary input element to copy the URL to the clipboard
        const tempInput = document.createElement('input');
        document.body.appendChild(tempInput);
        tempInput.setAttribute('value', postUrl);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
    });

    // Add event listeners to the share buttons
    shareButtons.forEach(button => {
    button.addEventListener('click', (e) => {
        e.preventDefault();
        const url = button.getAttribute('href');
        window.open(url, '_blank', 'width=600,height=400');
  });
});
</script>