{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="site-main" class="site-main outer">
<div class="inner posts">
    {{#tag}}
        <section class="relative rounded-2xl overflow-hidden">

            {{#if feature_image}}
            <div class="relative h-[300px] w-full gradient-overlay">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img 
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 400px, 800px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}"
                    class="w-full h-full object-cover"
                />
            </div>
            {{/if}}

            <div class="absolute top-0 w-full h-full z-[1]">
            <div class="relative h-full flex flex-col justify-center items-center text-center text-white gap-3">
                <header class="rounded-full backdrop-blur-md py-4 px-5">
                    <h2 class="">{{name}}</h2>
                </header>
                <div class="">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </div>
            </div>
            </div>

        </section>
        {{/tag}}
        
    <div class="post-feed">

        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}

    </div>

    {{pagination}}
    
</div>
</main>
